<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many deliveries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Deliveries
      </li>

      <% @user.deliveries.each do |pickup| %>
        <li class="list-group-item">
          <a href="/pickups/<%= pickup.id %>">
            <%= pickup.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pickups/<%= pickup.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pickups/<%= pickup.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pickup/<%= pickup.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pickup" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for day -->
      <div class="form-group">
        <label for="day" class="control-label">
          Day
        </label>

        <input type="text" id="day" name="day" placeholder="Day" class="form-control" value="">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <!-- Label and input for package_type -->
      <div class="form-group">
        <label for="package_type" class="control-label">
          Package type
        </label>

        <input type="text" id="package_type" name="package_type" placeholder="Package type" class="form-control" value="">
      </div>

      <!-- Label and input for materials_needed -->
      <div class="form-group">
        <label for="materials_needed" class="control-label">
          Materials needed
        </label>

        <input type="text" id="materials_needed" name="materials_needed" placeholder="Materials needed" class="form-control" value="">
      </div>

      <!-- Label and input for package_destination -->
      <div class="form-group">
        <label for="package_destination" class="control-label">
          Package destination
        </label>

        <input type="text" id="package_destination" name="package_destination" placeholder="Package destination" class="form-control" value="">
      </div>

      <!-- Label and input for image_upload -->
      <div class="form-group">
        <label for="image_upload" class="control-label">
          Image upload
        </label>

        <input type="text" id="image_upload" name="image_upload" placeholder="Image upload" class="form-control" value="">
      </div>

      <!-- Label and input for special_instructions -->
      <div class="form-group">
        <label for="special_instructions" class="control-label">
          Special instructions
        </label>

        <input type="text" id="special_instructions" name="special_instructions" placeholder="Special instructions" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Pickup
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
